__pycache__/*
.vscode/*
notebooks/.ipynb_checkpoints/
input_data/*.tsv
*.csv
*.png
*.pdf
*.xlsx
*.egg-info/
*.egg
*.pyc
build/
dist/
efs_experiments/results/**/*.csv
efs_experiments/results/**/*.pkl
efs_experiments/results/**/*.npy
!efs_experiments/results/**/.gitkeep
results/raw/*.json
params/*.json
notebooks/*
temp/*
.DS_Store